.news-preview-header{
    font-size: large;
    color: #1a1a1a;
    padding-bottom: 30px;
    font-weight: bold;
}
.news-preview-content{
    font-size: medium;
    padding-bottom: 50px;
}
.news-preview-date{
    float: right;
}
.news_one_main{
    width: 50%;
}
.news_text_area{
    min-height: 200px
}
.news_text_area #news-text
{
    height: 200px
}
