.content-header > h1 {
    display: none;
}

.btn_profile {
    margin-left: 40px;
}

.site-signup {
    display: flex;
    justify-content: center
}

.field-user-passwordnew > label {
    width: 180px;
    margin-left: -45px
}

.field-user-password > div > input {
    margin-left: 76px;
}

.btn_password {
    margin-left: 73px;
}

@media screen and (max-device-width: 767px) {
    .field-user-passwordnew > label, .field-user-password > div > input {
        margin-left: auto;
    }
    .btn_password {
        margin-left: 13px;
    }
}

@media screen and (min-device-width: 1200px) {
    .site-signup > .row > .col-lg-5,
    .site-signup > .row > .col-lg-5 > #form-signup > .form-group > .col-sm-6  {
        width:auto;
    }
}

@media screen and (min-device-width: 768px) {
    .form-group > .col-sm-2 {
        margin-right: 20px;
    }

    .new-password > .row > .col-lg-5 > #form-signup > .form-group > .col-sm-2 {
        margin-right: -10px;
    }
}

.hide {
    display: none;
}

#user-selectedavatar, #signupform-selectedavatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 0.1rem #ababab solid;
    border-radius: 1rem;
    padding: 10px;
    -webkit-box-shadow: 1px 3px 5px 2px #ADADAD;
    box-shadow: 1px 3px 5px 2px #ADADAD;

    width: 450px;
    margin-left: -65px;
}

@media screen and (max-device-width: 767px) {
    #user-selectedavatar, #signupform-selectedavatar {
        margin-left: 0px;
        width: auto;
    }
}

.avatar-img {
    height: 100px;
    margin-left: -20px;
}

#user-selectedavatar > div, #signupform-selectedavatar > div {
    border: 0.1rem #ababab solid;
    border-radius: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 1px 3px 5px 2px #ADADAD;
    box-shadow: 1px 3px 5px 2px #ADADAD;
}

.checkbox {
    padding: 5px;
}

#selectedAvatarName {
    margin-left: 173px;
    margin-top: -25px;
}


