.source-buttons {
    display: inline-block;
    margin: 5px;
}

.source-add-post-message {
    font-weight: bold;
}

.summary b {
    padding: 2px 10px;
    color: #b8c7ce;
    background: linear-gradient(to bottom, #606c88 0%, #222d32 90%, #222d32 100%);
}

.summary {
    font-weight: bold;
}

.intermediate_preview_post {
    padding: 2%;
    font-size: small;
    display: flex;
    flex-direction: row;
    height: 220px;
}

.in_post_container {
    display: flex;
    flex-wrap: wrap;
}

.intermediate_post_container > div > div {
    min-height: 250px;
    border: 0.1rem #ababab solid;
    border-radius: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 1px 3px 5px 2px #ADADAD;
    box-shadow: 1px 3px 5px 2px #ADADAD;
}

.intermediate-preview-image > img {
    height: auto;
    max-height: 150px;
    max-width: 220px;
}

.intermediate-preview-image {
    text-align: center;
    height: 150px;
    min-width: 220px;
    max-width: 220px;
}

@media screen and (max-device-width: 768px) and (min-device-width: 491px){
    .intermediate-preview-image > img {
        max-height: 100px;
        max-width: 150px;
    }

    .intermediate-preview-image {
        height: 100px;
        min-width: 150px;
        max-width: 150px;
    }

    .intermediate_post_container > div > div {
        min-height: 200px;
    }
}

@media screen and (max-device-width: 490px) {
    .intermediate-preview-image > img {
        max-height: 50px;
        max-width: 75px;
    }
    .intermediate-preview-image {
        height: 50px;
        min-width: 75px;
        max-width: 75px;
    }
    .intermediate_post_container > div > div {
        min-height: 150px;
    }
}

@media screen and (max-device-width: 460px) {
    .intermediate-preview-image > img {
        max-width: unset;
    }
    .intermediate-preview-image {
        height: unset;
        min-width: unset;
        max-width: unset;
    }
}

@media screen and (max-device-width: 400px) {
    .intermediate_preview_post {
        display: flex;
        flex-direction: column;
    }


    .intermediate-preview-image {
        margin-right: 40%;
    }
}

.intermediate_post_container > .empty, .intermediate_post_container > .summary {
    box-shadow: none;
    border: none;
}

.intermediate_post_container > .summary {
    min-height: 10px;
    margin-left: -1px;
}

.intermediate_preview_content {
    white-space: pre-wrap;
}

.intermediate_checkbox {
    margin-right: 10px !important;
}

.intermediate_arrow_deploy{

    margin-top: 2rem;
    font-size: large;
}
.intermediate_arrow_deploy:hover {
    color: #3c8dbc;
    cursor: pointer;
}

.intermediate-text-container {
    display: flex;
    flex-direction: column;
}

.intermediate-preview-image {
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.intermediate-preview-image {

    margin-left: auto;
}

.publish-preview-content {
    padding-right: 10px;
}

.icon-right-intermediate {
    text-align: right;
    padding-right: 10px;
}

.icon-left-intermediate {
    text-align: left;
    padding-left: 10px;
    margin-bottom: -20px;
}

.icon-up-intermediate {
    margin-bottom: -20px;
}

.icon-up-intermediate > i {
    padding-right: 10px;
}


