@import "_publish.css";
@import "_news.css";

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.preview-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.task-container {
    width: 235px;
    height: 120px;
    margin: 12px;
}

.task-preview-link {
    color: inherit;
}

.task-preview-link:hover {
    text-decoration: none;
}

.task-preview {

    box-sizing: border-box;
    border: 1px solid dimgray;
    padding: 12px;
    position: relative;
}

#preview_elements{
    display: flex;
    justify-content: flex-start;
}
.img-margin{
    margin-right: 10px;
    margin-bottom: 20px;
}
.deleteShow{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0;
    line-height: 1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

.editShow{
    position: absolute;
    top: -10px;
    right: 14px;
}

.form_toggle {
    display: inline-block;
    overflow: hidden;
    margin-left: 50px;
    margin-bottom: -10px;
}
.form_toggle-item {
    float: left;
    display: inline-block;
}
.form_toggle-item input[type=radio] {
    display: none;
}
.form_toggle-item label {
    display: inline-block;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    cursor: pointer;
    user-select: none;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #222d32 90%, #222d32 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #606c88 0%, #222d32 90%, #222d32 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #606c88 0%, #222d32 90%, #222d32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#222d32', GradientType=0);
    -webkit-box-shadow: 1px 3px 5px 1px #ADADAD;
    box-shadow: 1px 3px 5px 1px #ADADAD;
    color: #b8c7ce;
}

.form_toggle .item-1 label {
    border-radius: 6px 0 0 6px;
}
.form_toggle .item-2 label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}

/* Checked */

.form_toggle input[type=radio]:hover + label,
.form_toggle .item-1 input[type=radio]:checked + label,
.form_toggle .item-2 input[type=radio]:checked + label {
    color: white;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #435c63 100%, #222d32 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #606c88 0%, #435c63 100%, #222d32 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #606c88 0%, #435c63 100%, #222d32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#222d32', GradientType=0); /* IE6-9 */
    outline: none;
}
.form_toggle .item-1 input[type=radio]:checked + label,
.form_toggle .item-2 input[type=radio]:checked + label {
    color: lightgreen;
}